.home-wrapper {
  display: flex;
  gap: 2.3rem;
}

.home-main {
  display: flex;
  flex-direction: column;
  gap: 3.3rem;
}

.home-wrapper-inner {
  max-width: 88.7rem;
  width: 100%;
  height: 100%;
  padding: 0 3rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 7rem;
  padding-bottom: 3rem;
}

.home-wrapper-overflower {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
