$base-black: rgba(39, 39, 39, 1);
$base-green: rgba(110, 235, 131, 1);
$base-red: rgba(255, 94, 91, 1);
$base-gray: rgba(165, 165, 165, 1);
$base-darkener: rgba(39, 39, 39, 0.28);

// Mixins

// // Fonts
@mixin font-serif {
  font-family: "DM Serif Display", serif;
}

@mixin font-lexend {
  font-family: "Lexend Deca", sans-serif;
}

// // Transition

@mixin animo {
  transition: 0.3s all ease;
}

// // Flows

@mixin c-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin stretch {
  width: 100%;
  height: 100%;
}

@mixin abs-lt {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin abs-rt {
  position: absolute;
  top: 0;
  right: 0;
}

@mixin abs-lb {
  position: absolute;
  bottom: 0;
  left: 0;
}

@mixin abs-rb {
  position: absolute;
  bottom: 0;
  right: 0;
}

@mixin maximize($width, $height) {
  max-width: $width;
  max-height: $height;
}

// // Elements

@mixin input-std {
  @include font-lexend;
  @include animo;
  line-height: 2rem;
  font-size: 1.6rem;
  border: 0.1rem solid $base-green;
  padding: 2rem 3rem;
  color: white;
  box-shadow: -0.2rem 0.2rem 0rem 0.4rem rgba(27, 27, 27, 0.3);

  &::placeholder {
    color: $base-gray;
  }

  &:focus {
    @include animo;
    box-shadow: 0.1rem 0.1rem 0.5rem 0rem $base-green,
      -0.1rem -0.1rem 0.5rem 0rem $base-green;
  }
}

@mixin button-std {
  @include c-flex;
  @include font-lexend;
  @include stretch;
  @include maximize(18rem, 6rem);
  cursor: pointer;
  padding: 1.8rem 1rem;
  font-size: 2rem;
  font-weight: 600;
  background: $base-green;
  color: black;
  text-transform: uppercase;
}

@mixin sign-title {
  @include font-lexend;
  font-size: 6.4rem;
  color: #fff;
  transform-origin: 50% 50%;
}

@mixin greet-title {
  @include font-serif;
  font-size: 6.4rem;
  color: #fff;
}

@mixin greet-subtitle {
  @include font-lexend;
  line-height: 3rem;
  color: $base-gray;
  font-size: 2.4rem;
}

@mixin main-title {
  @include font-serif;
  color: white;
  font-size: 4.8rem;
}

@mixin post-title {
  @include font-serif;
  line-height: 4.387rem;
  color: $base-green;
  font-size: 3.2rem;
}

@mixin post-date {
  @include font-serif;
  line-height: 4rem;
  text-transform: uppercase;
  color: white;
  font-size: 3.2rem;
}

@mixin post-text {
  @include font-lexend;
  line-height: 2.5rem;
  color: white;
  font-weight: 200;
  font-size: 2rem;
}
